.el-aside {
    background-color: #fff;
    color: #333;
    text-align: center;
    min-height: 400px;
}

.el-main {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
}

.el-menu-item.is-active {
    background-color: #F2F3F7 !important;
    border-left: 4px solid #3080FE
}

.el-menu-item {
    font-size: 16px !important;
}

.nav-title {
    text-align: left;
    margin-bottom: 20px;
}

.nav-title span {
    display: inline-block;
    border-left: 2px solid #3080FE;
    padding-left: 15px;
    font-size: 18px;
    color: #333;
}